.idea/

node_modules/

cdk.context.json

cdk.out/


.DS_Store
/.fleet/


# Local HTML preview reports
**/test-report-preview-copy.html
**/test-report-preview-dryrun.html

# Costing artifact
**/pricing-data.json
